
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<title>Adopt NFT Pets </title>

{{ partialCached "header.html" .}}
</head>

<style>{{ readFile "static/css/style.css" | safeCSS }}</style>

<body>

  <div style="padding:20px"></div>
  <div class="row">
    <div class="col-xl-5" style="text-align:center;margin-left:1%;">
      <img src="/images/ANFTP-aboutpets.png" alt="pets" width=68%>
    </div>
    <div class="col-xl-5">
      <br><br>
      <div class="about">
        <div class="header">
          <h3 class="title">Adopt NFT Pets </h3>
        </div>
        <div class="arrow"></div>
        <div class="content" style="width:80%">
          <h4> This project is a group of art collections focused on different pets and hosted on the polygon blockchain. The main idea behind each NFT, is to
          provide people with an interesting piece of art they can share and exchange, as well as educate on different animal breeds.<br><br> All the animals represented on the cards
          will be adults, defined by a set of personality traits and quirks. I think it's important for people to accept pets, no matter the stage in their lives, even if someone may
          find cubs easier to handle.<br><br> Part of the earnings will be donated to animal rescue facilities, and members of the community will have the opportunity to promote their organization,
          for the chance to be assigned a portion of the donation.<br><br>Thank you for reading, and you are welcome to join our family of pet lovers in this journey across the different collections.
        </div>
      </div>
    </div>
  </div>
</body>

<body>
    <div class="container"><div class="roadmap">CARD SYSTEM</div></div>

    <div style=" text-align:center;">
      <div class="row">
        <div class= "col-xl" style="margin:1%;">
          <img src="/images/common-card.jpg" alt="common card layout" width=70%>
          <div class="card-detail"> COMMON CARD <br> 6000 per collection </div>
        </div>
        <div class= "col-xl" style="margin:1%;">
          <img src="/images/uncommon-card.jpg" alt="uncommon card layout" width=70%>
          <div class="card-detail"> UNCOMMON CARD <br> 3000 per collection </div>
        </div>
        <div class= "col-xl" style="margin:1%;">
          <img src="/images/rare-card.jpg" alt="rare card layout" width=70%>
          <div class="card-detail"> RARE CARD <br> 1000 per collection </div>
        </div>
      </div>
    </div>

    <div class="container"><div class="roadmap">LATEST COLLECTION</div></div>
    <div class="row">
      <div class="col-xl-5" style="text-align:center;">
        <img src="/images/preview.gif" alt="pets" width=65%>
      </div>
      <div class="col-xl-5">
        <br><br>
        <div class="about">
          <div class="header">
            <h3 class="title">Adopt NFT Dogs </h3>
          </div>
          <div class="arrow"></div>
          <div class="content" style="width:80%; font-size:24px">
            Amount of options in this collection
            <ul style="margin-top:1%">
              <li> Breeds: 100 </li>
              <li> Pet Names: 230 </li>
              <li> Age: 9 </li>
              <li> Size: 6 (matches breed) </li>
              <li> Skills: 20 </li>
              <li> Likes: 57 (food) </li>
              <li> Personality traits: 50 </li>
            </ul>
            Each NFT will include a link on the metadata with a profile picture of the breed.<br>This is just an image not an extra NFT.
          </div>
        </div>
      </div>
    </div>

    <div class="card-detail" style="padding:3%; text-align:center; margin-top:3%; font-size:40px">
      ADOPT YOUR OWN DOG TODAY!<br><br>
      <a href="https://opensea.io/collection/adopt-nft-dogs" class="btn btn-lg"><span>Buy on OpenSea</span></a>
      <a href="https://mint.adoptnftpets.com/" class="btn btn-lg"><span>Mint Directly</span></a><br>
      <br> <span style="font-size:32px">Holders get access to an exclusive twitter group (send twitter DM with proof of purchase to join)
      <br> For every 10 dog cards adopted we will donate $200 to a pet charity organization </span>
    </div>

    <div class="container"><div class="roadmap">ENJOY OUR PRINT ON DEMAND DESIGNS</div></div>
    <script type="text/javascript" src="https://www.redbubble.com/assets/external_portfolio.js"></script>
    <div class="redbubble">
    <script id="rb-xzfcxvzx" type="text/javascript">new RBExternalPortfolio('www.redbubble.com', 'adoptnftpets', 3, 4).renderIframe();</script>
    </div>

    <div style="background: #3c4559;padding:4%; margin-top:2%;text-align:center;">
      <div class="container">
        <h1 style="color:#f2f2f2;"><b>FOLLOW US TO LEARN THE LATEST NEWS</b></h1>
        <div class="row">
          <div class= "col-xl" style="margin:1%">
            <a href="https://twitter.com/adoptNFTpets" class="social"><img src="/images/twitter.png" alt="twitter page" style="width:20vmin; padding:3%;"></a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
