
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<title>Adopt NFT Pets </title>

{{ partialCached "header.html" .}}
</head>

<style>{{ readFile "static/css/style.css" | safeCSS }}</style>

<body>

  <div style="padding:20px"></div>
  <div class="row">
    <div class="col-xl-5" style="text-align:center;margin-left:1%;">
      <img src="/images/ANFTP-aboutpets.png" alt="pets" width=68%>
    </div>
    <div class="col-xl-5">
      <br><br>
      <div class="about">
        <div class="header">
          <h3 class="title">Adopt NFT Pets </h3>
        </div>
        <div class="arrow"></div>
        <div class="content" style="width:80%">
          <h4> This project is a group of art collections focused on different pets and hosted on the polygon blockchain. The main idea behind each NFT, is to
          provide people with an interesting piece of art they can share and exchange, as well as educate on different animal breeds.<br><br> All the animals represented on the cards
          will be adults, defined by a set of personality traits and quirks. I think it's important for people to accept pets, no matter the stage in their lives, even if someone may
          find cubs easier to handle.<br><br> Part of the earnings will be donated to animal rescue facilities, and members of the community will have the opportunity to promote their organization,
          for the chance to be assigned a portion of the donation.<br><br>Thank you for reading, and you are welcome to join our family of pet lovers in this journey across the different collections.
        </div>
      </div>
    </div>
  </div>
</body>

<body>
  <div class="container">
    <div class="roadmap">ROADMAP</div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-content">
                        <h3 class="title">PREPARATIONS</h3>
                        <div class="description">
                            <ul>
                              <li> Design collection </li>
                              <li> Create Website </li>
                              <li> Create Discord Server </li>
                              <li> Create Twitter Page </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <h3 class="title">MAY-JUNE</h3>
                        <div class="description">
                          <ul>
                            <li> Build the community </li>
                            <li> Adopt NFT Dogs - Whitelist </li>
                            <li> 15% donated to 3 animal rescue organizations</li>
                          </ul>
                        </div>
                      </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <h3 class="title">JUNE</h3>
                        <div class="description">
                            <ul>
                              <li> Adopt NFT Dogs - Public launch</li>
                              <li> 20% sold - $5000 donated to 5 animal rescue organizations</li>
                              <li> 50% sold - $5000 donated to 5 animal rescue organizations</li>
                              <li> 100% sold - $5000 donated to 5 animal rescue organizations</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <h3 class="title">FUTURE PROJECTS</h3>
                        <div class="description">
                          <ul>
                            <li> Adopt NFT Cats collection (September 2022) </li>
                            <li> Pet care blockchain game (2023)</li>
                            <li> Social media mini events <br> (Based on community activity)</li>
                          </ul>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container"><div class="roadmap">CARD SYSTEM</div></div>

    <div style=" text-align:center;">
      <div class="row">
        <div class= "col-xl" style="margin:1%;">
          <img src="/images/common-card.jpg" alt="common card layout" width=70%>
          <div class="card-detail"> COMMON CARD <br> 6000 per collection </div>
        </div>
        <div class= "col-xl" style="margin:1%;">
          <img src="/images/uncommon-card.jpg" alt="uncommon card layout" width=70%>
          <div class="card-detail"> UNCOMMON CARD <br> 3000 per collection </div>
        </div>
        <div class= "col-xl" style="margin:1%;">
          <img src="/images/rare-card.jpg" alt="rare card layout" width=70%>
          <div class="card-detail"> RARE CARD <br> 1000 per collection </div>
        </div>
      </div>
    </div>

    <div style="background: #3c4559;padding:4%; margin-top:2%;text-align:center;">
      <div class="container">
        <h1 style="color:#f2f2f2;"><b>JOIN US TO LEARN THE LATEST NEWS</b></h1>
        <div class="row">
          <div class= "col-xl" style="margin:1%">
            <a href="https://discord.gg/HFtppsWbBC"><img src="/images/discord.png" alt="discord server" style="width:20vmin; padding:3%;"></a>
            <a href="https://twitter.com/adoptNFTpets" class="social"><img src="/images/twitter.png" alt="twitter page" style="width:20vmin; padding:3%;"></a>
            <a href="https://t.me/adoptnftpets"><img src="/images/telegram.png" alt="telegram group" style="width:20vmin; padding:3%;"></a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
